#loginContent{
    position: relative;
    height: auto;
    width: 100dvw;
}

#loginGrid{
    height: 100dvh;
    width: 100dvw;
    display:grid;
    align-items: center;
}

iframe {
    width:max(25%,2.5in);
    height: 50px;
    border-radius: 100vh;
    border: 2px hsl(162, 100%, 66%) solid;
    display: block;
    right:0;
    left:0;
    margin: auto;
}

#homeLogo{
    width:max(30%,3in);
    right:0;
    left:0;
    margin: auto;
    display: block;
    margin-bottom: 20%;
}

body{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height:100dvh;
    width:100dvw;
    margin: 0;
    overflow: hidden;
    z-index: 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
body::before{
    content: '';
    margin:  0;
    top:-15px;
    left:-15px;
    right:-15px;
    bottom:-15px;
    position:fixed;
    height : calc(100dvh + 30px);
    width : calc(100dvw + 30px);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: max(200vh,200vw);
    background-position: 50% 50%;
    background-image: url("./src/img/polygon_background.svg");
    filter: contrast(1)
            brightness(0.5)
            blur(15px);
    z-index: -1;
    overflow: hidden;
}

head{
    height: 10px;
    width:100vw;
    background-color: aqua;
    position: absolute;
}

main{
    width:100dvw;
    overflow: hidden;
}

html{
    height:100dvh;
    background-color: black;
}

#formGrid{
    width: 100dvw;
    height: 100dvh;
    overflow-y: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20%;
    padding-right: 20%;
    box-sizing: border-box;
}

#icon_preview{
    border-radius: 10%;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: min(256px,40dvw);
    height: min(256px,40dvw);
}

#iconFrame{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

#edit_icon_button{
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    background: transparent;
    color: white;
    text-shadow: 1px 2px 3px black;
    font-size: calc(min(256px,40dvw)/6);
}

#edit_icon_button span{
    vertical-align: middle;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
    
}

.formFrame{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: left;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formFrame label{
    display: block;
    white-space: nowrap;
}

.formInput{
    font-size: 1.5em;
    border-radius: 10px;
    border: 0.5px solid #fff;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    width: auto;
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0;
    right:0;
}
.formInput:focus{
    outline: none;
    box-shadow: 0 0 5px hsl(162, 100%, 66%);
}

.noteText{
    color: white;
    text-align: center;
    
}

.addedForm{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.addedFormFrame{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: left;
    color: white;
}

.cancelButton{
    color: #ff6689;
    cursor: pointer;
}

.nomalButton{
    background-color: rgba(0,0,0,0.2);
    border: 1px solid white;
    border-radius: 100vh;
    color: white;
    text-align: center;
    cursor: pointer;
}

.greenButton{
    background-color: rgba(0,0,0,0.2);
    border: 1px solid hsl(162, 100%, 66%);
    border-radius: 100vh;
    color: hsl(162, 100%, 66%);
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    height: 50px;
    width: min(200px,100%);
    font-family: 'Noto Sans JP', sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

option{
    background-color: #333;
    color: white;
}

#icon_background{
    background-image: url("./src/img/icon_background.jpg");
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid hsl(162, 100%, 66%);
    margin-bottom: 20px;
}

