iframe {
    width:max(25%,2.5in);
    height: 50px;
    border-radius: 100vh;
    border: 3px hsl(162, 100%, 66%) solid;
    display: block;
    position :absolute;
    right:0;
    left:0;
    margin: auto;
    bottom: 30%;
}

body{
    position: relative;
    height:100dvh;
    width:100dvw;
    margin: 0;
    overflow: hidden;
    z-index: 0;
}
body:before{
    content: '';
    margin:  0;
    top:-15px;
    left:-15px;
    right:-15px;
    bottom:-15px;
    position:absolute;
    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: max(200vh,200vw);
    background-position: 50% 50%;
    background-image: url("./src/img/polygon_background.svg");
    filter: blur(15px);
    z-index: -1;
}

head{
    height: 10px;
    width:100vw;
    background-color: aqua;
}

main{
    width:100dvw;
    
}

html{
    height:100dvh;
    background-color: black;
}